@mixin text($text-align, $color, $font-size, $font-family, $padding-bottom) {
  text-align: $text-align;
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
  padding-bottom: $padding-bottom;
}

@mixin flex(
  $display,
  $flex-direction,
  $flex-wrap,
  $align-items,
  $justify-content,
  $padding-top,
  $padding-bottom
) {
  display: $display;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  align-items: $align-items;
  justify-content: $justify-content;
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}

@mixin link($text-align, $color, $font-size, $font-family, $text-decoration) {
  text-align: $text-align;
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
  text-decoration: $text-decoration;
}

@mixin button(
  $text-align,
  $color,
  $font-size,
  $font-family,
  $text-decoration,
  $background-color,
  $padding,
  $border-radius,
  $text-transform
) {
  text-align: $text-align;
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
  text-decoration: $text-decoration;
  background-color: $background-color;
  padding: $padding;
  border-radius: $border-radius;
  text-transform: $text-transform;
}
